body{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    
}
p{
    font-weight: 50;
}
header{

    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
 
}
header img{
    width: 100px;
    /* padding-top: 10px; */
}
header nav{
    padding-left:50%;
}
header a{
    text-decoration: none;
    margin: 0 10px;
   color: black;
}
header button{
    background :white;
    margin: 20px 10px;
     height: 40px;
    width: 150px;
    border-radius: 20px;
    color:red;
    font-size: 20px;
    border: none;
}
header button:hover{
    color: black;
    border: 1px solid red ;
}
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    text-align: center;
    
}
.get h1{
    font-size: 50px;
    font-weight: 300
}

.get p{
    font-size: 30px;
    font-weight: 50
    
}
.get button{
   padding: 20px 40px;
   font-size: 20px;
   border-radius:50px;
   background-color: #ed1c25;
   color: white;
   border: none;
}
.section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    gap: 5%;
}
.image img{
    width: 600px;
    padding-right:330px;
}
.text{
    width: 500px;
    padding-left: 20%;
    font-size: 20px;
    /* font-weight: 400; */
}
.section3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    gap: 5%;
}
.image2 img{
    width: 600px;
    padding-left: 40%;
}
.text2{
    width: 400px;
    padding-right: 400px;
}
.section4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    gap: 5%;
}
.image3 img{
    width: 600px;
    padding-right:350px ;

}
.text3{
    /* width: 500px; */
    padding-left: 15%;

}
.text3 h1{
    font-size: 40px;
}
.section5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    gap: 7%;
}
.image4 img{
    width: 600px;
    padding-left:40%;
}
.text4{
    width: 500px;
    padding-right:400px ;
}
.section6{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    gap: 7%;
}
.image5 img{
    width: 600px;
    padding-right:350px ;
}
.text5{
padding-left: 15%;
}
.para{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    font-size: 70px;
    font-weight: 100;
}
.section7{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10%;
   
}
.text7{
    width: 350px;
}
.section8{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10%;
    padding-top: 40px;
   
}
.section9{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10%;
    padding-top: 40px;
   
}
.section10{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 70px;

}
.section10 h1{
    font-size: 50px;
    font-weight: 200;
}
.section10 button{
   padding: 20px 40px;
   font-size: 20px;
   border-radius:50px;
   background-color:#ed1c24;
   color: white;
   border: none;
}
.section12{
    text-align: center;
    gap: 10px;
    padding-top: 50px;
}
.section12 a{
    margin: 0 10px;
    font-size: 30px;
    color: red;
    text-decoration:none;
    font-weight: 200;
}
.section13{
    width: 100%;
display: flex;
justify-content: center;
}
.section13 a{
    text-decoration: none;
    margin: 0 10px;
   color: black;
text-align: center;
padding-top: 30px;


}
@media (max-width: 760px;){
    section 1,2,3,4,5,6,7,8,9,10,11,12,13{
        padding-left: 12px;
        padding-right: 12px;
    }
}